* {

    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    /* display: inline-block; */
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

body {
    flex-direction: column;
    justify-content: space-between;

    /* border: 2px solid red; */
    min-height: 100vh;
    
    font-size: 0.875rem;
    font-family: arial,sans-serif;
    color: #222;
}

/* FLEX */
body,
.nav-bar__list-container,
.main__container, 
.main__input-container,
.footer__container,
.footer__list-container {
    display: flex;
}

/* NAVIGATION BAR */

.nav-bar__container {
    padding: 1em 0 0;
    font-size: 13px;
    
    
}

.nav-bar__list-container {
    align-items: center;
    justify-content: flex-end;
    
    padding: 6px;
}

.nav-bar__list-item {
    margin: 0 1.07em;
}

.nav-bar__link {
    /* margin: 1rem; */
    /* border: 2px solid red; */
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}

.grid-img {
    width: 16px;
}

/* MAIN */
.main__container {
    flex-flow: column wrap;
    text-align: center;

}

.main__input-container {
    justify-content: space-between;
    
    width: 80%;
    max-width: 584px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 20px auto;
    padding: .5em 1.5em;
}

.main__input-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

input[type="text"] {
    font-size: 1.142em;
    color: rgba(0,0,0,.87);
    background-color: transparent;

    word-wrap: break-word;

    width: 100%;

    padding: 0 1em;
}

input[type="text"]:focus {
}

.main__input-icons {
    cursor: pointer;
}

.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
}

.btn:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.lang__link {
    font-size: 13px;
    color: #1a0dab;
    margin: 0 .25em;
}

/* FOOTER */

.footer__container {
    font-size: 1.072em;
    color: rgba(0,0,0,.54);

    flex-flow: column wrap;
}

.footer__container > * {
    padding: 1em;
    border-bottom: 1px solid #dadce0;
}

.footer__list-container {
    flex-flow: row wrap;
}

.footer__link {
    color: rgba(0,0,0,.54);
    padding: 0 .5em;
}

.copyright {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}